:host {
  display: block;
  width: 100%;
}

.d3-chart {
  width: 100%;
  min-height: 600px;
  border: 1px solid gray;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 600px;
}

.node {
  rect {
    cursor: pointer;
    fill: #fff;
    fill-opacity: 0.5;
    stroke: #3182bd;
    stroke-width: 1.5px;
  }

  text {
    font: 12px sans-serif;
    pointer-events: none;
  }
}

.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}
